.align {
    list-style: none;
    width: 100%;
    height: 15px;
}

.align li {
    display: inline;
    margin-right: 45px;
}

.sticky {
    position: sticky;
    top: 25px;
}

.menu {
    display: flex;
    justify-content: center;
    /* font-size: 15px; */
    line-height: 0.5em;
    font-weight: bolder;
}

.align li:hover{
    text-decoration: underline;
}